<div class="row">
  <div class="col">
    <h3>Empleados</h3>
  </div>
  <div class="col-4 text-end">
    <button routerLink="/empleados/create" class="btn btn-success">
      Crear Cliente
    </button>
  </div>
</div>
<br />
<div class="container md-5">
  <div class="row">
    <div class="col">
      <table class="table text-white">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Function</th>
            <th>Username</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of empleados; let i = index">
            <td>
                {{ i + 1 }}
              </td>
            <td>
              {{ empleado.fullname }}
            </td>
            <td class="align-middle">
              {{ empleado.salary | currency: 'USD': 'symbol': '1.0-0' }}
            </td>
            <td>
              {{ empleado.function }}
            </td>
            <td>
              {{ empleado.username }}
            </td>
            <td>
              <div class="d-grid gap-2 d-md-flex">
                <button [routerLink]="['/empleados',empleado.id]" class="btn btn-outline-info btn-sm">Editar</button>
                <button (click)="borrarEmpleado(empleado, i)" class="btn btn-outline-danger btn-sm">Eliminar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
