<h4>Formulario <small> Empleados </small></h4>
<div class="row text-end">
  <div class="col">
    <button class="btn btn-outline-danger" routerLink="/empleados">
      Regresar
    </button>
  </div>
</div>
<hr />

<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">
  <div>
    <div class="form-group row">
      <label class="col-2 col-form-label text-white">ID</label>
      <div class="col-8">
        <div class="mb-3">
          <input
            class="form-control"
            type="text"
            placeholder="ID"
            disabled="disabled"
            formControlName="id"
          />
          <small class="form-text text-muted"
            >Campo Generado de manera automatica</small
          >
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label text-white">Nombre Completo:</label>
      <div class="col-8">
        <div class="mb-3">
          <input
            class="form-control"
            type="text"
            placeholder="Nombre Completo"
            formControlName="fullname"
            [class.is-invalid]="nombreNoValido"
          />
          <small *ngIf="nombreNoValido" class="text-danger">
            El nombre es requerido
          </small>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label text-white">Usuario:</label>
      <div class="col-8">
        <div class="mb-3">
          <input
            class="form-control"
            type="text"
            placeholder="User Name"
            formControlName="username"
            [class.is-invalid]="userNoValido"
          />
          <small *ngIf="userNoValido && !userRepetido" class="text-danger">
            El correo es requerido
          </small>
          <small *ngIf="userRepetido" class="text-danger">
            Este Usuario ya se encuentra registrado, revise e intente nuevamente.
          </small>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label text-white">Función:</label>
      <div class="col-8">
        <div class="mb-3">
          <input
            class="form-control"
            type="text"
            placeholder="Escriba las funciones a realizar"
            formControlName="function"
            [class.is-invalid]="funcionNoValido"
          />
          <small *ngIf="funcionNoValido" class="text-danger">
            Ingrese las funciones a realizar
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label text-white">Salario: </label>
    <div class="col-8">
      <div class="mb-3">
        <input
          class="form-control"
          type="number"
          placeholder="Salario"
          formControlName="salary"
          [class.is-invalid]="salarioNoValido"
        />
        <small *ngIf="salarioNoValido" class="text-danger">
          Indique el valor del salario
        </small>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label text-white">Jefe a Cargo: </label>
    <div class="col-8">
      <div class="mb-3">
        <select class="form-control" formControlName="boss">
          <option *ngFor="let empleado of emp" [value]="empleado.id">
            {{ empleado.fullname }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col">
      <div class="mb-3">
        <button type="submit" class="btn btn-outline-primary btn-block">
          Guardar
        </button>
      </div>
    </div>
  </div>
</form>
